<p id="notice"><%= notice %></p>

<h1>Replies</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Video</th>
      <th>Title</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @replies.each do |reply| %>
      <tr>
        <td><%= reply.user.id %></td>
        <td><%= reply.video.id %></td>
        <td><%= reply.title %></td>
        <td><%= reply.content %></td>
        <td><%= link_to 'Show', [@user, @video, reply] %></td>
        <td><%= link_to 'Edit', [:edit, @user, @video, reply] %></td>
        <td><%= link_to 'Destroy', [@user, @video, reply], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reply', new_user_video_reply_path %>
