<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @reply.user.id %>
</p>

<p>
  <strong>Video:</strong>
  <%= @reply.video.id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @reply.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @reply.content %>
</p>

<%= link_to 'Edit', edit_user_video_reply_path(@user, @video, @reply) %> |
<%= link_to 'Back', user_video_replies_path %>
