<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @ticket.user %>
</p>

<p>
  <strong>Video:</strong>
  <%= @ticket.video %>
</p>

<p>
  <strong>Token:</strong>
  <%= @ticket.token %>
</p>

<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
