<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @transaction.user %>
</p>

<p>
  <strong>Video:</strong>
  <%= @transaction.video %>
</p>

<p>
  <strong>Paidto:</strong>
  <%= @transaction.paidto %>
</p>

<p>
  <strong>Paid:</strong>
  <%= @transaction.paid %>
</p>

<%= link_to 'Edit', edit_transaction_path(@transaction) %> |
<%= link_to 'Back', transactions_path %>
